
// Header change background to Armstrong Green
.top-bar, .top-bar--navigation{
  background: #4c9d2a;
  color:white;
}

// Service / Help Pulldown Menu change to white
.navigation--entry.entry--service.has--drop-down{
  color:white;
}


//
// Footer config
//

div.panel--title {
  color: white;
}

div.forms--container {
    background: #0767A0;
}

div.forms--required {
  color: white;
}

div.footer--columns, footer.footer-main {
  //background-color: #4C9D2A;
  background: linear-gradient(to bottom, rgba(76,157,42,1) 0%, rgba(53,110,30,1) 100%);
}

.privacy-information  a, .privacy-information p {
    color: white;
}

.footer-main {
  color: white;
}

.footer-main .column--headline {
  color: white;
}

.footer-main a.navigation--link {
  color: white;
}

a.footer-phone-link {
  color: white;
}
